{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
{#    have to change post. to object. due to django naming convention#}
    <article class="media content-section">
        <img src="{{ object.author.profile.image.url }}" class="rounded-circle article-img" alt="profile pic">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>
                <p class="text-capitalize">Price: {{ post.price }}</p>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% else %}
                    <div>
                        {% if user.is_authenticated %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-purchase' object.id  %}">Purchase with coins</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-2" href="{% url 'login' %}">Login to purchase</a>
                        {% endif %}
                    </div>
                {% endif %}
                {#  to filter date: post.date_posted| date:"F d, Y"(fullmonth day, year)#}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <img src="{{ object.image.url }}" alt="">
            <div class="row">
                {% for pic in post.images_set.all %}
                    <div class="col-md-4">
                        <img src="{{ pic.image.url }}" class="img-fluid" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h3>{{ post.comments.count }} Comments</h3>

        {% for comment in post.comments.all %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.user }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
            {% if comment.active %}
                {{ comment.content | linebreaks }}
            {% else %}
                <p class="text-muted small">Your comment is being moderated</p>
            {% endif %}
        </div>
        {% endfor %}
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-comment' object.id %}">Comment</a>
      </div>
    </div>

{% endblock content %}
