{% extends 'blog/base.html' %}
{% block content %}
{#    have to change post. to object. due to django naming convention#}
    <article class="media content-section">
        <img src="{{ object.author.profile.image.url }}" class="rounded-circle article-img" alt="profile pic">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% else %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="">Purchase with coins</a>

                    </div>
                {% endif %}
                {#  to filter date: post.date_posted| date:"F d, Y"(fullmonth day, year)#}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <div class="row">
                {% for pic in post.images_set.all %}
                    <div class="col-md-4">
                        <img src="{{ pic.image.url }}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock content %}
